.filtersPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

.filtersPanel-companyFilter {
    display: flex;
    width: 20rem;
    height: 18rem;
}

.filtersPanel-tagFilter {
    display: flex;
    width: 20rem;
    height: 18rem;
}
